useDynLib(social)
export(social.all.paths)
export(social.cor.matrix)
export(social.plot)
export(social.signal)
importFrom(Rcpp, evalCpp)
importFrom(graphics, plot)
importFrom(stats, optim, pnorm, rnorm)
useDynLib(social, .registration = TRUE)
